HELP.md

### Maven ###
code/target/
!code/.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Terraform ###
/infrastructure/confluent/.terraform
/infrastructure/confluent/.terraform.lock.hcl

### Snyk ###
code/snyk-code.sarif

### Docker environment settings ###
docker.env
