HELP.md

### Maven ###
code/target/
!code/.mvn/wrapper/maven-wrapper.jar
**/pom.xml.branch
**/pom.xml.next
**/pom.xml.releaseBackup

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Terraform ###
/infrastructure/*/.terraform
/infrastructure/*/.terraform.lock.hcl
/infrastructure/*/terraform.tfstate*

### Snyk ###
**/snyk-*.sarif
